# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# dbt
dbt_packages/
target/
logs/


data/validation_output/*.csv